.ki-train:before {
	content: "\e900";
}
.ki-toga:before {
	content: "\e905";
}
.ki-sun:before {
	content: "\e906";
}
.ki-star:before {
	content: "\e907";
}
.ki-wallet:before {
	content: "\e908";
}
.ki-pulse:before {
	content: "\e909";
}
.ki-podium:before {
	content: "\e90a";
}
.ki-phone:before {
	content: "\e90b";
}
.ki-pencil:before {
	content: "\e90c";
}
.ki-network:before {
	content: "\e90d";
}
.ki-man:before {
	content: "\e90e";
}
.ki-list:before {
	content: "\e90f";
}
.ki-jeep:before {
	content: "\e910";
}
.ki-info:before {
	content: "\e911";
}
.ki-heart:before {
	content: "\e912";
}
.ki-gender:before {
	content: "\e913";
}
.ki-tie:before {
	content: "\e914";
}
.ki-certificate:before {
	content: "\e916";
}
.ki-cake:before {
	content: "\e917";
}
.ki-bus:before {
	content: "\e918";
}
.ki-book:before {
	content: "\e919";
}
.ki-backpack:before {
	content: "\e91a";
}
.ki-industry:before {
	content: "\e91b";
}
.ki-halfsun:before {
	content: "\e901";
}
.ki-check:before {
	content: "\e902";
}
.ki-map:before {
	content: "\e903";
}
.ki-kalibrr:before {
	content: "\e800";
}
.ki-kalibrr-k:before {
	content: "\e801";
}
.ki-chevron-right:before {
	content: "\e802";
}
.ki-briefcase:before {
	content: "\e803";
}
.ki-compass:before {
	content: "\e804";
}
.ki-folder:before {
	content: "\e805";
}
.ki-envelope:before {
	content: "\e806";
}
.ki-trophy:before {
	content: "\e807";
}
