.ki-kalibrr:before {
  content: "\e800";
}

.ki-kalibrr-k:before {
  content: "\e801";
}

.ki-chevron-right:before {
  content: "\e802";
}

.ki-briefcase:before {
  content: "\e803";
}

.ki-compass:before {
  content: "\e804";
}

.ki-folder:before {
  content: "\e805";
}

.ki-envelope:before {
  content: "\e806";
}

.ki-trophy:before {
  content: "\e807";
}