@font-face {
  font-family: 'Kalibrr';
  src:url('../fonts/kalibrr-font.ttf') format('truetype'),
    url('../fonts/kalibrr-font.woff') format('woff');
  src: url('../fonts/kalibrr-font.eot');
  src: url('../fonts/kalibrr-font.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kalibrr-font.woff2') format('woff2'),
    url('../fonts/kalibrr-font.woff') format('woff'),
    url('../fonts/kalibrr-font.ttf') format('truetype'),
    url('../fonts/kalibrr-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}